#buttons
{
    Display: flex;
    justify-content: center;
    width: 100%;
}
#pink
{
    background-color: pink;
}
#orange
{
    background-color: orange;
}
#purple
{
    background-color: mediumpurple;
}

#currentNum
{
    Display: flex;
    justify-content: center;
    width: 100%;
}
#save
{
    Display: flex;
    justify-content: center;
    width: 100%;
}
#savedNums
{
    width: 1%;
}